#Server Port
PORT='serverPort'

#Session secret for cookies
SESSION_SECRET='supersecret'

#Database config for pool
DB_USER='yourUser'
DB_PASSWORD='yourPassword'
DB_HOST='yourHost'
DB_PORT='yourPort'
DATABASE='yourDatabase'

#Database URL for migrations to work properly
DATABASE_URL = postgresql://postgres:ifsp@localhost:5432/freelance_test
#JWT secret for signing and verifying access tokens
ACCESS_TOKEN_SECRET='yourAccessTokenSecret'

#JWT issuer
JWT_ISSUER='yourJwtIssuer'

#JWT audience
JWT_AUDIENCE='yourJwtAudience'

CLIENT_ORIGIN='http://localhost:3000'

#Environment variable to indicate the current environment (development, production, etc.)
NODE_ENV='development'