#Server Port
PORT='serverPort'

#Session secret for cookies
SESSION_SECRET='supersecret'

#Database config for pool
DB_USER='yourUser'
DB_PASSWORD='yourPassword'
DB_HOST='yourHost'
DB_PORT='yourPort'
DATABASE='yourDatabase'

#Database URL for migrations to work properly
DATABASE_URL = postgresql://postgres:ifsp@localhost:5432/freelance_test